@font-face {
    font-family: 'redvelvet';
    src: url(Red\ Velvet.otf) format(opentype); 
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'cursive';
    src: url(KGPrimaryItalics.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100;
}

/*PÁGINA LOGIN*/

#login{
    position: absolute;
    width: 619px;
    height: 440px;
    left: 370px;
    top: 89px;
    background: #FFFFFF;
    box-shadow: 9px 12px 4px rgba(0, 0, 0, 0.25), inset 1px 1px 4px rgba(0, 0, 0, 0.25);
}

#titulo{
    position: absolute;
    width: 498px;
    height: 83px;
    left: 235px;
    top: -40px;
    font-size: 66px;
    font-family: 'redvelvet';
    font-style: bold;
}

#formularios{
    position: absolute;
    left: 24px;
    top: 87px;
}

#voltar{
    position: absolute;
    width: 80px;
    height: 44px;
    left: 345px;
    top: 350px;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 3px solid #3A820E;
    border-radius: 56px;
}

#enviar{
    position: absolute;
    width: 80px;
    height: 44px;
    left: 455px;
    top: 350px;
    font-size: 15px;
    color: black;
    background-color: #3A820E;
    border: 3px solid #3A820E;
    border-radius: 56px;
}

